<section class="login-section">
  <div class="login-first-half">
    <h1>Welcome to Unicomer</h1>
  </div>
  <div class="login-second-half">
    <div [formGroup]="form">
      <div>
        <mat-form-field>
          <mat-label>Tipo</mat-label>
          <input matInput formControlName="type" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>DNI</mat-label>
          <input matInput formControlName="dni" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="password" />
        </mat-form-field>
      </div>
    </div>
    <pre>
      {{ form.value | json }}
    </pre>
  </div>
</section>
