.login-section {
    display: flex;
    background-color: bisque;
    min-height: 100vh;
    min-width: 100%;
}

.login-first-half {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.login-second-half {
    width: 45%;
    background-color: #353a61;
}

.colored-text {
    color: red;
}