.login-section {
    display: flex;
    background-color: bisque;
    min-height: 100vh;
    min-width: 100%;
}

.login-first-half {
    width: 60%;
    background-color: #fff;
}

.login-second-half {
    width: 40%;
    background-color: rgb(204, 220, 179);
}