<section class="login-section">
  <div class="login-first-half">
    <h1>Welcome to Unicomer</h1>
  </div>
  <div class="login-second-half">
    <mat-form-field>
      <mat-label>Input</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select</mat-label>
      <!--  <mat-select>
        <mat-option value="one">ID</mat-option>
      </mat-select> -->
    </mat-form-field>
    <mat-form-field>
      <mat-label>Textarea</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </div>
</section>
