.green-text {
    color: #19c66a;
}

.red-text {
    color: #e37376;
}

.gray-text {
    color: #87878d;
}

.loan-container {
    color: #262626;
}

mat-paginator {
    width: max-content;
    padding: 1rem 0;
    margin: auto;
}

.loanAmount {
    padding-left: 20px;
}

.cancel-button {
    width: 5rem  !important;
    &:hover {
        cursor: default;
    }
}

.pay-button {
    width:  5rem !important ;   
}