.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.logo {
  display: flex;
  justify-content: center;
  height: 14vh;
  border: 1px solid #e0e0e0;
  span {
    font-size: 2em;
    font-weight: 600;
  }
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
}

.button-sidebar {
  color: black;
}