<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar class="logo"><span>LOGO</span></mat-toolbar>
    <mat-nav-list>
      <div *ngFor="let item of items">
        <a
          mat-list-item
          [routerLink]="['/dashboard/' + item.path]"
          class="item-menu"
        >
          {{ item.name }}</a
        >
      </div>
      <a mat-list-item class="item-menu" (click)="openLogOutDialog()">
        Log Out</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="navbar">
      <button
        type="button"
        class="button-sidebar"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="navbar-2">
        <div *ngIf="user" class="user-navbar">
          <div class="profile-picture">
            <img src="{{ user.picture }}" alt="" />
          </div>
          <span>
            <strong>{{ user.firstname }} {{ user.lastname }}</strong>
          </span>
        </div>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
